
@font-face {
    font-family: 'invadersregular';
    src: url('invaders.eot');
    src: url('fonts/invaders.eot?#iefix') format('embedded-opentype'),
         url('fonts/invaders.woff2') format('woff2'),
         url('fonts/invaders.woff') format('woff'),
         url('fonts/invaders.ttf') format('truetype'),
         url('fonts/invaders.svg#invadersregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
  font-family:"space_invaders_Regular";
  src:url("fonts/space_invaders.eot?") format("eot"),
      url("fonts/space_invaders.woff") format("woff"),
      url("fonts/space_invaders.ttf") format("truetype"),
      url("fonts/space_invaders.svg#Space-Invaders") format("svg");
  font-weight:normal;font-style:normal;
}

@font-face {
    font-family: "plutoblack";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/pluto-black.eot?#iefix") format("embedded-opentype"), url("fonts/pluto-black.woff2") format("woff2"), url("fonts/pluto-black.woff") format("woff"), url("fonts/pluto-black.ttf") format("truetype"), url("fonts/pluto-black.svg#plutoblack") format("svg");
}
@font-face {
    font-family: "pluto_regularregular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/pluto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/pluto-regular.woff2") format("woff2"), url("fonts/pluto-regular.woff") format("woff"), url("fonts/pluto-regular.ttf") format("truetype"), url("fonts/pluto-regular.svg#pluto_regularregular") format("svg");
}
@font-face {
    font-family: "plutobold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/pluto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/pluto-bold.woff2") format("woff2"), url("fonts/pluto-bold.woff") format("woff"), url("fonts/pluto-bold.ttf") format("truetype"), url("fonts/pluto-bold.svg#plutobold") format("svg");
}
html {
    height: 100%;
}

body {
    margin: 0;
    overflow: visible;
    background: url("../img/black_hole.gif") repeat;
}

.logo {
    margin: 0;
    position: absolute;
    text-align: left;
}
h2 {
    color: #fff;
    font-family: "space_invaders_Regular";
    font-size: 80px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
h3 {
    color: #fff;
    font-family: "Courier";
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
h4 {
    color: #008000;
    font-family: "Comic Sans MS";
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

h5{
    color:rgb(0, 128, 0);
    font-family: "invadersregular";
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    width: 800px;
}

strong {
    font-family: "open_sanssemibold";
    font-weight: normal;
}

.main span{
    color:#ffffff;
    font-size: 26px;
    margin: 0 auto;
    width: 800px;
}

.button{
    position: absolute;
    top: 275px;
    *top:268px;
    right: -8px;
}

.button span {
    background-color: rgb(0, 128, 0);
    border: 4px solid rgb(0, 128, 0);
    color: #fff;
    display: inline-block;
    font-family: "space_invaders_Regular";
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    padding: 14px 24px 8px;
    position: relative;
    text-transform: uppercase;
    width: auto;
}

.button span:hover {
    background-color:#fff;
    border: 4px solid rgb(0, 128, 0);
    color: rgb(0, 128, 0);
}

p {
    color: #fff;
    font-family: "Comic Sans MS";
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}

center p{
    color: #008000;
}

ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
}
section {
    margin: 32px 0 0;
}
.main {
    margin: 0 auto;
    width: 800px;
    position: relative;
}

header {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footer{
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footer li {
    bottom: 0;
    display: inline-block;
    position: relative;
}

.footer li + li{
    position:absolute;
    right:0;
}

.footer li p{
    font-family: "invadersregular";
    color:#ffffff;
    font-size:70px;
    margin-bottom:0px;
}

.green{
    font-family: "invadersregular";
    color:rgb(0, 128, 0);
    font-size:40px;
    margin-bottom:0px;
}

.white{
    font-family: "invadersregular";
    color:#ffffff;
    font-size:70px;
    margin-bottom:0px;
}


video {
    border: 4px solid #494949;
    display: block;
    margin: auto;
    width: 100%;
}

nav {
    height: 206px;
    margin: auto;
    position: relative;
    width: 800px;
}

.nav-logo {
    margin: auto;
    padding-left: 180px;
    text-align: center;
    top: 14px;
}

nav ul {
    color: #000000;
    display: inline-block;
    font-family: "pluto_regularregular";
    font-size: 0;
    font-weight: normal;
    margin: 0;
    padding-left: 0;
    padding-top: 42px;
    position: relative;
    text-align: left;
    text-decoration: underline;
    width: 800px;
}

nav ul li {
    font-size: 18px;
    line-height: 28px;
    padding-left: 0;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: auto;
}

nav  li:nth-child(3n) {
    position: absolute;
    right:0 
}

nav a {
    color: #fff;
    font-family: "Courier";
    text-decoration: underline;
}

nav a:hover {
    color: #002c58;
    text-decoration: underline;
}

nav a:active {
    color: #002c58;
    text-decoration: underline;
}

td p{
    color:#ffffff;
}

.galeria {
    margin-bottom: 40px;
    margin-top: 40px;
    width: 800px;
}
.galeria > li {
    display: inline-block;
    margin-right: 88px;
    vertical-align: top;
    width: 200px;
}
.galeria > li:nth-child(3n) {
    margin-right: 0;
}
.galeria li img {
    border: 4px solid #494949;
}
.galeria li p {
    color: #fff;
    font-family: "Comic Sans MS";
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 0;
    text-align: center;
}
